<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="pt-4 pb-3">Discover all pools</h1>
    <%= link_to "+ Add a new pool", new_pool_path, class: 'btn btn-primary' %>
  </div>
  <div class="d-flex">
    <div class="cards-container flex-grow-2">
      <% @pools.each do |pool| %>
        <%= link_to pool_path(pool) do %>
          <div class="pool-card mb-3">
            <% if pool.photo.attached? %>
              <%= cl_image_tag pool.photo.key, width: 500, crop: :fill %>
            <% else %>
              <img src="https://images.unsplash.com/photo-1536745511564-a5fa6e596e7b?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=992" alt="Pool photo" height=200>
            <% end %>
            <div class="p-4">
              <div>
                <p class="category"><%= pool.category %></p>
                <h4><%= pool.name %></h4>
              </div>
              <ul class="details d-flex justify-content-between">
                <li><%= pool.location %></li>
                <li><i class="fa-solid fa-star"></i> <%= pool.rating %></i></li>
                <li class="price"><strong><%= pool.price %> €</strong></li>
              </ul>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="flex-grow-0" style="width: 50%; height: 100vh;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
