<% if @pool.photo.attached? %>
  <div class="banner mb-5" style="background-image: url('<%= cl_image_path @pool.photo.key, crop: :fill %>')"></div>
<% else %>
  <div class="banner mb-5" style="background-image: url('https://images.unsplash.com/photo-1536745511564-a5fa6e596e7b?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=992')"></div>
<% end %>
<div class="container">
  <div class="pool-details">
    <div class="description">
      <%= link_to "< Back to all pools", root_path %>
      <% if policy(@pool).edit? %>
        <span> | </span>
        <%= link_to 'Edit', edit_pool_path(@pool) %>
        <span> | </span>
        <% if policy(@pool).destroy? %>
          <%= link_to "Delete", delete_pool_path(@pool), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        <% end %>
      <% end %>
      <h1 class="mt-4 mb-3"><%= @pool.name %></h1>
      <ul class="mb-3">
        <li class="category"><%= @pool.category %> | </li>
        <li><i class="fa-solid fa-location-dot"></i> <%= @pool.location %> | </li>
        <li><i class="fa-solid fa-star"></i> <%= @pool.rating %></i></li>
      </ul>
      <p><%= @pool.description %></p>
    </div>

    <% if @pool.user != current_user %>
      <div class="book-pool">

        <h3>Book this pool</h3>
<div data-controller="price-calculator">
        <%= simple_form_for [@pool, @booking] do |f| %>
          <%= f.input :start_date, as: :date, html5: true, input_html: {data: {action: "change->price-calculator#calculatePrice", price_calculator_target: "start"}}%>
          <%= f.input :end_date, as: :date, html5: true, input_html: {data: {action: "change->price-calculator#calculatePrice", price_calculator_target: "end"}} %>
          <hr>
          <div class="d-flex justify-content-between align-items-center">
            <p class="price" data-price-calculator-target="price"><%= @pool.price %> €</p>
            <%= f.button :submit, class: 'btn btn-primary' %>
          </div>
        <% end %>
</div>
      </div>
    <% end %>
  </div>
</div>
